In [1]:
import pandas as pd
import numpy as np
import steamspypi as stm

In [3]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ---- -------------------------------- 30.7/250.0 kB 330.3 kB/s eta 0:00:01
     ------------ ------------------------ 81.9/250.0 kB 573.4 kB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.4 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
missings_df = pd.read_excel("./Steam Games Demand Predictor/games_wo_release.xlsx")

In [5]:
missings_df

,QueryID,ResponseID,QueryName,ResponseName
0,8350,8350,Strong Bad Episode 2: Strong Badia the Free,Strong Bads Cool Game for Attractive People: E...
1,8360,8360,Strong Bad Episode 3: Baddest of the Bands,Strong Bads Cool Game for Attractive People: E...
2,8370,8370,Strong Bad Episode 4: Dangeresque 3,Strong Bads Cool Game for Attractive People: E...
3,8380,8380,Strong Bad Episode 5: 8-Bit Is Enough,Strong Bads Cool Game for Attractive People: E...
4,11180,11180,Sherlock Holmes: The Mystery of The Persian Ca...,Sherlock Holmes: The Mystery of the Persian Ca...
...,...,...,...,...
70,516580,516580,DYSTORIA,DYSTORIA
71,513370,513370,Blade & Bones,Blade & Bones
72,518720,518720,Overkill VR,Overkill VR
73,549860,549860,One Night Stand,One Night Stand
74,500420,500420,SoulHunt,SoulHunt

In [7]:
data_request = dict()
data_request['request'] = 'appdetails'
data_request['appid'] = '8350'

data = stm.download(data_request)

In [11]:
del data["tags"]

In [13]:
data

{'appid': 8350,
 'name': "Strong Bad's Cool Game for Attractive People: Episode 2",
 'developer': 'Telltale Games',
 'publisher': 'Telltale Games',
 'score_rank': '',
 'positive': 39,
 'negative': 6,
 'userscore': 0,
 'owners': '0 .. 20,000',
 'average_forever': 0,
 'average_2weeks': 0,
 'median_forever': 0,
 'median_2weeks': 0,
 'price': '0',
 'initialprice': '0',
 'discount': '0',
 'ccu': 0,
 'languages': 'English, Not supported',
 'genre': 'Adventure'}

In [12]:
pd.DataFrame(data)

ValueError: If using all scalar values, you must pass an index